<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />


  <link rel="stylesheet" href="utilities.css">
  <link rel="stylesheet" href="styles.css">
  <title>Welcome to Arts of Finance</title>
</head>

<body id="home">
  <header class="hero blog">
    <div id="navbar" class="navbar top">
      <h1 class="logo">
        <span class="text-primary"><i class="fas fa-book-open"></i>Arts</span> of Finance
      </h1>
      <nav>
        <ul>
          <li><a href="./#home">Home</a></li>
          <li><a href="./#about">About</a></li>
          <li><a href="./#cases">Cases</a></li>
          <li><a href="./#blog">Blog</a></li>
          <li><a href="./#contact">Contact</a></li>
        </ul>
      </nav>
    </div>

  </header>
  <main>

    <% posts.forEach(function(post) { %>
      <article id="flex-columns" class="flex-columns">
        <div class="row">
          <div class="column">
            <div class="column-1">
              <img src="<%=post.imageUrl%>" alt="People">
            </div>
          </div>
          <div class="column">
            <div class="column-2 bg-light">
              <h4>
                <%=post.blogTitle%>
              </h4>
              <p class="meta">
                <i class="fas fa-user"></i>
                Posted by <strong>
                  <%=post.authorName%>
                </strong> | <%=post.postDate%>
              </p>
              <p>
                <%=post.description%>
              </p>
              <a href="post/<%=post.id%>" class="btn btn-dark">
                <i class="fas fa-chevron"></i>
                Read More
              </a>
            </div>
          </div>
        </div>
      </article>
      <% }); %>


        <a href="create_post" class="btn add-post btn-primary">Add New Blog Post</a>
  </main>

  <div class="footer bg-dark">
    <div class="social">
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="#"><i class="fab fa-google fa-2x"></i></a>
    </div>
    <p>Copyright &copy; 2021 Art of Finance</p>
  </div>

  <script src="scripts.js"></script>

</body>

</html>